
	<!--[if lt IE 9]>
	<b class="text-error">All components may not work correctly on IE 8 or below </b><br/><br/>
	<![endif]-->
  <legend>Simple form builder demo (Part 2)</legend>
  <div class="tabbable"> 
	<!-- List of controls rendered into Bootstrap Tabs -->
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#simple" data-toggle="tab">Simple input</a>
		</li>
		<li>
			<a href="#multiple" data-toggle="tab">Radio/Checkbox/List</a>
		</li>
		<li>
			<a href="#btns" data-toggle="tab" >Buttons</a>
		</li>		
		<li>
			<a href="#disqus_thread">Comments</a>
		</li>
	</ul>
	<div class="row-fluid">
	<div id="listOfFields" class="span3 well tab-content">
	  <div class="tab-pane active" id="simple">
		<div class='selectorField draggableField'>
			<label class="control-label">Text Input</label>
			<input type="text" placeholder="Text here..." class="ctrl-textbox"></input>
		</div>
		<div class='selectorField draggableField'>
			<label class="control-label">Password</label>
			<input type="password" placeholder="Password..." class="ctrl-passwordbox"></input>
		</div>
		<div class='selectorField draggableField'>
			<label class="control-label">Combobox</label>
			<select class="ctrl-combobox">
				<option value="option1">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="option3">Option 3</option>
			</select>
		</div>
	  </div>
	  
	  <div class="tab-pane" id="multiple">
		<div class='selectorField draggableField radiogroup'>
			<label class="control-label" style="vertical-align:top">Radio buttons</label>
			<div style="display:inline-block;" class="ctrl-radiogroup">
				<label class="radio"><input type="radio" name="radioField" value="option1">Option 1</input></label>
				<label class="radio"><input type="radio" name="radioField" value="option2">Option 2</input></label>
				<label class="radio"><input type="radio" name="radioField" value="option3">Option 3</input></label>
			</div>
		</div>
		<div class='selectorField draggableField checkboxgroup' >
			<label class="control-label" style="vertical-align:top">Checkboxes</label>
			<div style="display:inline-block;" class="ctrl-checkboxgroup">
				<label class="checkbox"><input type="checkbox" name="checkboxField" value="option1">Option 1</input></label>
				<label class="checkbox"><input type="checkbox" name="checkboxField" value="option2">Option 2</input></label>
				<label class="checkbox"><input type="checkbox" name="checkboxField" value="option3">Option 3</input></label>
			</div>
		</div>
		<div class='selectorField draggableField selectmultiple'>
			<label class="control-label" style="vertical-align:top">Select multiple</label>
			<div style="display:inline-block;">
				<select multiple="multiple" style="width:150px" class="ctrl-selectmultiplelist">
					<option value="option1">Option 1</option>
					<option value="option2">Option 2</option>
					<option value="option3">Option 3</option>
				</select>
			</div>
		</div>
	  </div>
	  <div class="tab-pane" id="btns">
		<div class='selectorField draggableField'>
			<button class="btn ctrl-btn">Simple Button</button>
		</div>
		<div class='selectorField draggableField'>
			<button class="btn btn-primary ctrl-btn">Primary Button</button>
		</div>
		<div class='selectorField draggableField'>
			<button class="btn btn-success ctrl-btn"><i class="icon-ok-sign icon-white"></i> Save Button</button>
		</div>
		<div class='selectorField draggableField'>
			<button class="btn btn-danger ctrl-btn"><i class="icon-trash icon-white"></i> Delete Button</button>
		</div>
	  </div>
    </div>
	<!-- End of list of controls -->
	
	<!-- 
		Below we have the columns to drop controls
			-- Removed the TABLE based implementations from earlier code
			-- Grid system used for rendering columns 
			-- Columns can be simply added by defining a div with droppedFields class
	-->
	<div class="span8" id="selected-content">
		<!--[if lt IE 9]>
		<div class="row-fluid" id="form-title-div">
			<label>Type form title here...</label>
		</div>
		<![endif]-->
	  <div class="row-fluid" id="form-title-div">
		<input type="text" class="input-large span10" placeholder="Type form title here" id="form-title"></input>
	  </div>
	  
	  <div class="row-fluid">
		<div id="selected-column-1" class="span5 well droppedFields"></div>
		<div id="selected-column-2" class="span5 well droppedFields"></div>
	  </div>
	  <!-- Action bar - Suited for buttons on form -->
	  <div class="row-fluid">
		<div id="selected-action-column" class="span10 well action-bar droppedFields" style="min-height:80px;"></div>
	  </div>
	</div>
	</div>

	<!-- Preview button -->
	<div class="row-fluid">	
		<div class="span12">
			<input type="button" class="btn btn-primary" value="Preview" onclick="preview();"></input>
		</div>
	</div>
  </div>

<script type="text/javascript" src="bootstrap/js/jquery.js"></script>	
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>


<script type="text/javascript" src="jqueryui/ui/minified/jquery-ui.min.js"></script>

<!-- using handlebars for templating, but DustJS might be better for the current purpose -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>

<!-- 
	Starting templates declaration
	DEV-NOTE: Keeping the templates and code simple here for demo  -- use some better template inheritance for multiple controls 
---> 

<script id="control-customize-template" type="text/x-handlebars-template">
	<div class="modal-header">
		<h3>{{header}}</h3>
	</div>
	<div class="modal-body">
		<form id="theForm" class="form-horizontal">
			<input type="hidden" value="{{type}}" name="type"></input>
			<input type="hidden" value="{{forCtrl}}" name="forCtrl"></input>
			<p><label class="control-label">Label</label> <input type="text" name="label" value=""></input></p>
			<p><label class="control-label">Name</label> <input type="text" value="" name="name"></input></p>
			{{{content}}}
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" onclick='save_customize_changes()'>Save changes</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick='delete_ctrl()'>Delete</button>
	</div>
</script>

<script id="textbox-template" type="text/x-handlebars-template">
	<p><label class="control-label">Placeholder</label> <input type="text" name="placeholder" value=""></input></p>
</script>

<script id="combobox-template" type="text/x-handlebars-template">
	<p><label class="control-label">Options</label> <textarea name="options" rows="5"></textarea></p>
</script>

<!-- End of templates -->


<script>
	$(document).ready(docReady); 
	

	/* GA tracking */
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-665946-1']);
	  _gaq.push(['_setDomainName', 'anupshinde.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

</script>


    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'demosanupshinde'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
	
