<div ng-controller="Ranking">
  <div class="well">
    <div class="well" ng-bind-html="rank_position_manager_view"></div>
    <span ng-hide="location_list.length == 0">
      Location:
      <select ng-model="selected_location" ng-options="location.name for location in location_list" ng-change="getMgrRankList()">
        <option value="">-- choose location --</option>
      </select>
    </span>

    <table>
      <tr ng-repeat="match_condition in match_conditions">
        <td style="padding: 3px"><select style="width: 100%" ng-model="match_condition.position" ng-options="position.id as position.name for position in position_list"></select></td>
        <td style="padding: 3px"><select style="width: 100%" ng-model="match_condition.sex" ng-options="sex.key as sex.value for sex in sexes"></select></td>
        <td style="padding: 3px"><select style="width: 100%" ng-model="match_condition.symbol" ng-options="symbol.key as symbol.value for symbol in mathematical"></select></td>
        <td style="padding: 3px"><input type="number" ng-required="true" min="0" ng-model="match_condition.value" /></td>
        <td style="padding: 3px"><span ng-click="match_conditions.splice($index, 1)" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span></td>
      </tr>
    </table>
    <div ng-click="match_conditions.push({})" class="glyphicon glyphicon-plus" style="cursor: pointer;"></div>
  </div>

  <form ng-submit="updateMgrRank()">
    <tabset ng-show="selected_location">
      <tab heading="{{selected_location.name}}">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>
                  New Rank <span ng-click="setRankbyInput()" class="pt glyphicon" ng-class="{true: 'glyphicon-floppy-disk rsas-font-text-red', false: 'glyphicon-pencil'}[set_rank_by_input]"></span>
                </th>
                <th>Existing Rank</th>
                <th>Student ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Comment</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="mgr_rank_list.rank_applications">
              <tr ng-repeat="application in mgr_rank_list.rank_applications">
                <td style="cursor: n-resize;" class="Handle"><span style="float: left;" class="glyphicon glyphicon-resize-vertical"></span></td>
                <td>
                  <span  ng-hide="set_rank_by_input">{{application.new_rank}}</span>
                  <input ng-show="set_rank_by_input" type="number" min="1" max="999999" ng-model="application.new_rank">
                </td>
                <td>{{application.rank}}</td>
                <td>{{application.suid}}</td>
                <td>{{application.name}}</td>
                <td>{{application.position_name}}</td>
                <td class="comment_field">
                  <p class="show_comment" ng-click="showComment=true"  ng-hide="showComment">Show</p>
                  <p class="show_comment" ng-click="showComment=false"  ng-show="showComment">Hide</p>
                  <div ng-init='showComment=false' ng-show="showComment" style="max-width: 100px;">
                    <div ng-repeat="comment in application.comments">
                      <div ng-show="comment.can_see" class="comment_content">
                        {{comment.comment}} <i class="comment_by"> &nbsp; by {{comment.comment_by}}</i>
                      </div>
                    </div>
                    <span class="add_comment" ng-show="application.can_comment" ng-model="clickShow" ng-init="clickShow=false" ng-click="clickShow=true" ng-hide="clickShow">Add comment</span>
                    <span ng-show="clickShow">
                      <textarea ng-model="commentText"></textarea>
                      <button type="button" ng-click="addComment(application.applicant_id, commentText, application.comments);commentText=''">Add Comment</button>
                    </span>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-trash pt" ng-click="removeFromRank(application.id)"></span>
                </td>
              </tr>
            </tbody>
          </table>
      </tab>
      <tab heading="Removed from rank">
        <table class="table">
            <thead>
              <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="mgr_rank_list.disable_rank_applications">
              <tr ng-repeat="application in mgr_rank_list.disable_rank_applications">
                <td>{{application.suid}}</td>
                <td>{{application.name}}</td>
                <td>{{application.position_name}}</td>
                <td>
                  <a class="pt" ng-click="addBackRank(application.id)">Add Back To Rank</a>
                </td>
              </tr>
            </tbody>
          </table>
      </tab>
      <button type="submit" class="btn btn-info navbar-right" ng-disabled="(!permission_to_active || set_rank_by_input)">Update {{selected_location.name}}</button>
    </tabset>
  </form>
</div>
