<div class="container" ng-controller="StudentFlashcards">
  <h3>Student Flashcards</h3>

  <form ng-show="is_admin">
    <label for="fileUploadStudentRoster">Upload Student Roster: </label>

    <input type="file" id="fileUploadStudentRoster" nv-file-select uploader="importStudentFlashcardsXlsx('/student_flashcards/import_student_flashcards_by_xlsx')" accept=".xlsx" />
    <a href="/examples/student_flashcards_example.xlsx">student_flashcards_example.xlsx</a>
    <p>*Location name needs to be the same spelpng as the location name of the SAAS system.</p>
    <p>*The uploaded file needs to include the same fields in the same format as the example.</p>
    <p>*One file can be uploaded for each year.</p>
    <p>*The old data will be overwritten after a new file is uploaded.</p>
  </form>


  <form method="post" action="/student_flashcards/download_student_flashcards_pdf" style="display: inline">
    <input type="hidden" name="current_year_id" value="{{$root.current_year.id}}">
    Student Flashcards: <input class="btn btn-info" type="submit" value="Download">
  </form>


</div>
