<div ng-controller="UserOffers">
  <table class="table" ng-show="!bSelectOffer">
    <thead>
      <tr>
        <th style="width: 20%;">Position</th>
        <th style="width: 40%;">Status</th>
        <th>Match Confirmation</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="offer in offers">
        <td>{{offer.position_name}}</td>
        <td ng-bind-html="to_html((!selected || offer.offer_accept) ? offer.offer_msg : '')"></td>
        <td>
          <div ng-if="(($root.applicant_sub_step.identify_name == 'offer' && offer.offered == 'offered') || ($root.applicant_sub_step.identify_name != 'offer' && offer.offered == 'post_offered')) && !selected">
            <button ng-disabled="!permission_to_active || !$root.isInTime($root.applicant_sub_step)" class="btn btn-info" ng-click="check_again(offer, true)">Accept and Confirm</button>
            <button ng-disabled="!permission_to_active || !$root.isInTime($root.applicant_sub_step)" class="btn btn-success" ng-click="check_again(offer, false)">Withdraw</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

	<div ng-show="bSelectOffer">
	  <table class="table">
	    <tbody>
	      <tr>
	        <td style="width: 20%;"><b>Position</b></td>
	        <td style="width: 50%;">{{current_applicant.position_name}}</td>
	        <td></td>
	      </tr>
	      <tr>
	        <td><b>Terms of Appointment</b></td>
	        <td ng-bind-html="to_html(current_applicant.position_offer_appointment)"></td>
	        <td>
            <form method="post" action="/download_pdfs/the_terms_of_appointment.pdf">
              <button class="btn btn-info" style="margin-bottom: 3px;">Download the Terms of Appointment</button>
              <input type="hidden" name="position_name" value="{{current_applicant.position_name}}">
            </form>
	        </td>
	      </tr>
	    </tbody>
	  </table>

    <div ng-if="(($root.applicant_sub_step.identify_name == 'offer' && current_applicant.offered == 'offered') || ($root.applicant_sub_step.identify_name != 'offer' && current_applicant.offered == 'post_offered')) && !selected" style="text-align: center;">
      <button ng-show="bSelectAccept" ng-disabled="!permission_to_active || !$root.isInTime($root.applicant_sub_step)" class="btn btn-info" ng-click="submitOffer(current_applicant, true)">Acceptance of Appointment Terms</button>
      <button ng-show="bSelectDecline" ng-disabled="!permission_to_active || !$root.isInTime($root.applicant_sub_step)" class="btn btn-success" ng-click="submitOffer(current_applicant, false)">Withdraw</button>
      <button ng-disabled="!permission_to_active || !$root.isInTime($root.applicant_sub_step)" class="btn btn-default" ng-click="cancelSelectOffer();">Back</button>
    </div>
	</div>




  <!-- Dialogs -->
  <div class="modal fade" id="success_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form class="form-horizontal modal-content">
        <div class="modal-body">
          <h4 ng-bind-html="to_html(success_html)"></h4>
          <hr />
          <div style="text-align: center;">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
