.tableRsas {
}

.tableRsas > thead > tr > th {
  white-space: nowrap;
}

.tableRsas > tbody {
  word-break: break-all;
}

.tableRsas > thead > tr {
  border-top: 1px solid #ddd;
}
/*
.tableRsas td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/
.tableRsasThHead {
  cursor: pointer;
  cursor: hand;
}

.tableRsasPagging  span {
  float: left;
}

.tableRsasPageGoToSpan
{
  margin: 20px;
}

.tableRsasPageGoToSpan input {
  width: 60px;
}

.tableRsasSearch span {
  float: left;
}

.tableRsasPanel > .panel-heading {
  color: #fff;
  background-color: #8c1515;
  border-color: #8c1515;
}

.tableRsasBtn {
  color: #fff;
  background-color: #8a0505;
  border-color: #8a0505;
}

.tableRsasBtn:hover,
.tableRsasBtn:focus,
.tableRsasBtn:active,
.tableRsasBtn.active {
  color: #fff;
  background-color: #b50505;
  border-color: #b50505;
}

.tableRsasFloatRight {
  float: right;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #8a0505;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #b50505;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #8c1515;
  border-color: #8c1515;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}