<div style="text-align: center; margin-top: 55px">
	<h4>Terms of Appointment for <%= @position_name %></h4>
</div>

<div style="padding: 0 70px; line-height: 25px; font-size: 14px;">
<%= @offer_appointment.html_safe %>
</div>
