<div style="text-align: center; margin-top: 55px">
	<h4>Terms of Appointment for <%= @position_name %></h4>
</div>

<div style="padding: 0 70px; line-height: 25px; font-size: 14px;">
	<p>YOU MUST READ AND AGREE to the terms below in order to confirm your appointment. Clicking "Confirm" indicates you understand the expectations for your role as a student leader in the residences and for your specific appointment, and that you accept the appointment and will adhere to the expectations as outlined here.</p>
	<p style="margin-top: -10px;">IF YOU DECIDE TO WITHDRAW YOURSELF FROM THIS PLACEMENT RATHER THAN ACCEPTING THESE TERMS, YOU WILL NOT BE GUARANTEED HOUSING IN THAT HOUSE, NOR WILL YOU BE ELIGIBLE FOR ANY OTHER RESIDENTIAL STUDENT STAFF APPOINTMENT.</p>
</div>
